body {
    margin: 0;
    padding: 0;

    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
}

header {
    background-color: #333333;
}

h1 {
    color: #eee;
    font-size: 28px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

h2 {
    font-size: 24px;
    padding-left: 30px;
}

.container {
    margin: 0 auto;
}

#main-bio {
    float: left;
    width: 70%;
    line-height: 1.5;
}

#contact-info {
    float: left;
    width: 30%;
    line-height: 1.5;
}

a {
    color: #d21034;
}

#bio-image {
    float: left;
    width: 200px;
    margin: 10px;
    padding-left: 30px;
    padding-right: 30px;
}